h1{
			font-family: 'Ubuntu', sans-serif;
			text-align: center;
		}
		h2{font-family: 'Ubuntu', sans-serif;
			text-align: center;
		}
		p{font-family: 'Titillium Web', sans-serif;
		text-align: center;
		}
#map{
	width: 800px; 
	height: 600px; 
	margin: auto;
} 
	</style>
	<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&family=Ubuntu:wght@300&display=swap" rel="stylesheet">